a{
    color: grey;
}

.button_active {
    background-color: green;
    border:none;
    text-align: center;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    color: white;
}

.button_inactive {
    background-color:rgb(32, 23, 38);
    border:none;
    text-align: center;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    color: white;
}